<launch>
  <include file="$(find orbbec_camera)/launch/astra_pro_plus.launch">
    <arg name="color_width" value="640"/>
    <arg name="color_height" value="480"/>
    <arg name="color_fps" value="30"/>
    <arg name="depth_width" value="640"/>
    <arg name="depth_height" value="480"/>
    <arg name="depth_fps" value="30"/>
    <arg name="depth_registration" value="true"/>
    <arg name="enable_colored_point_cloud" value="false"/>
  </include>
</launch>
